@import '../../assets/scss/colors';
@import '../../assets/scss/font-sizes';

.imam-style-text-preview{
    font-size: $font-xxlg;
    color: $colorBase;
    text-align: center;
    margin-top: 1vh;
    font-weight: $bold;
}

.imam-btn-info-style{
    background-color: #ffffff;
    color: $colorBase;
    border: 2px solid $colorBase;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block; 
    width: 55%;
}

.imam-btn-info-style:hover{
    background-color: $colorBase;
    color: #ffffff;
    border: 2px solid $colorBase;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block; 
    width: 55%;
}

.imam-feature-description{
    border: 2px solid $colorBase;
}

.imam-content-text-style{
    font-size: $font-md;
    color: $colorAccent;   
}

.imam-content-text-style-bold{
    font-size: $font-md;
    color: $colorAccent;  
    font-weight: $bold; 
}

.imam-litle-divider-style{
    height: 10px;
    width: 50px;
    background-color: $colorAccent;
    margin-bottom: 2vh;
    margin-top: 3vh;
}

.carousel-indicators li {
    width: 15px;
    height: 15px;
    border-radius: 0;    
    background-color: #000 !important;
}


.imam-style-content-subtitle{
    font-size: $font-xxlg;
    color: $colorBase;
    padding: 0;
    line-height: 5vh;
}


.imam-title-style-2{
    font-size: $font-xxxbig;
    font-weight: $bold;
    color: $colorAccent;
    padding: 0;
    letter-spacing: 3px;
    line-height: 10vh;
}

.imam-title-style-3{
    font-size: $font-lg;
    color: $colorAccent;
    padding: 0;
    line-height: 10vh;
}

.imam-study-summary-style{
    font-size: $font-big;
    color: $colorBase;
    font-weight: $bold;
    letter-spacing: 3px;
}

.imam-rvoe-style{
    font-size: $font-lg;
    color: $colorAccent;
    line-height: 1vh;
}

@media only screen and (max-width: 600px) {

    .imam-img-header{
        width: 100%;
    }

    .imam-title-style-1{
        font-size: $font-xxxlg;
        font-weight: $bold;
        color: $colorBase;
        padding: 0;
        letter-spacing: 3px;
        line-height: 10vh;
        text-align: center;
    }

    .imam-style-content-title{
        font-size: $font-xxlg;
        color: $colorAccent;
        font-weight: $bold;
        padding: 0;
    }
}

@media only screen and (min-width: 992px){
   
    .imam-img-header{
        width: 72%;
    }

    .imam-title-style-1{
        font-size: $font-big;
        font-weight: $bold;
        color: $colorBase;
        padding: 0;
        letter-spacing: 3px;
        line-height: 10vh;
        text-align: center;
    }

    .imam-style-content-title{
        font-size: $font-xxxlg;
        color: $colorAccent;
        font-weight: $bold;
        padding: 0;
    }
 
}

@media screen and (device-width: 800px) and (device-height: 1280px) and (orientation:portrait)  and (-webkit-min-device-pixel-ratio: 1.5){  


    .imam-img-header{
        width: 100%;
    }

    .imam-title-style-1{
        font-size: $font-big;
        font-weight: $bold;
        color: $colorBase;
        padding: 0;
        letter-spacing: 3px;
        line-height: 10vh;
        text-align: center;
    }

    .imam-style-content-title{
        font-size: $font-xxxlg;
        color: $colorAccent;
        font-weight: $bold;
        padding: 0;
    }
}

 /*  css rules for ipad portrait */

@media only screen and (device-width: 768px) and (device-height: 1024px) and (orientation:portrait) {
    .imam-img-header{
        width: 100%;
    }

    .imam-title-style-1{
        font-size: $font-big;
        font-weight: $bold;
        color: $colorBase;
        padding: 0;
        letter-spacing: 3px;
        line-height: 10vh;
        text-align: center;
    }

    .imam-style-content-title{
        font-size: $font-xxxlg;
        color: $colorAccent;
        font-weight: $bold;
        padding: 0;
    }
}

   /*  css rules for landscape devices*/
@media only screen 
and (max-width: 850px)
and (orientation:landscape)
and (-webkit-min-device-pixel-ratio: 2) {
    .imam-img-header{
        width: 100%;
    }

    .imam-title-style-1{
        font-size: $font-big;
        font-weight: $bold;
        color: $colorBase;
        padding: 0;
        letter-spacing: 3px;
        line-height: 10vh;
        text-align: center;
    }

    .imam-style-content-title{
        font-size: $font-xxxlg;
        color: $colorAccent;
        font-weight: $bold;
        padding: 0;
    }
}

@media only screen 
and (min-width: 800px)
and (max-width: 1024px)
and (orientation:landscape)
and (-webkit-min-device-pixel-ratio: 2) {
    .imam-img-header{
        width: 100%;
    }

    .imam-title-style-1{
        font-size: $font-big;
        font-weight: $bold;
        color: $colorBase;
        padding: 0;
        letter-spacing: 3px;
        line-height: 10vh;
        text-align: center;
    }

    .imam-style-content-title{
        font-size: $font-xxxlg;
        color: $colorAccent;
        font-weight: $bold;
        padding: 0;
    }
}

