<app-navbar></app-navbar>
<div class= "ah-head-home">
  <img src="../../assets/images/posgrados/imam_img_head.jpg" class="imam-img-header">
</div>
<div class="container pt-5 ">
  <p class="imam-title-style-1">POSGRADOS</p>
</div>
<div class="container pb-5">
  <div class="row ">
      <div class="col-sm-12 col-lg-6 p-5">
        <img src="../../assets/images/posgrados/imam_img_sp1.jpg" class="img-fluid">
        <p class="imam-style-text-preview">RVOE 20211737</p>
      </div>
      <div class="col-sm-12 col-lg-6 p-lg-5">

        <div id="carouselIMAMspecial" class="carousel slide imam-feature-description" data-ride="carousel" data-interval="10000">
          <ol class="carousel-indicators">
            <li data-target="#carouselIMAMspecial" data-slide-to="0" class="active"></li>
            <li data-target="#carouselIMAMspecial" data-slide-to="1"></li>
            <li data-target="#carouselIMAMspecial" data-slide-to="2"></li>
            <li data-target="#carouselIMAMspecial" data-slide-to="3"></li>
            <li data-target="#carouselIMAMspecial" data-slide-to="4"></li>
            <li data-target="#carouselIMAMspecial" data-slide-to="5"></li>
          </ol>
          <div class="carousel-inner">
            <div class="carousel-item p-5 active">
              <p class="imam-style-content-title">ESPECIALIDAD</p>
              <p class="imam-style-content-subtitle">Minería de Datos</p>
              <div class="imam-litle-divider-style"></div>
              <p class="imam-content-text-style-bold">OBJETIVO</p>
              <p class="imam-content-text-style">
                Formar especialistas que participen, analicen y tomen decisiones en las áreas de Minería de Datos, a fin de que puedan participar en el proceso de generación de conocimiento, dotándolos de bases sólidas que los introduzcan a la investigación, docencia y/o en el ejercicio profesional de manera exitosa
              </p>
            </div>
            <div class="carousel-item p-5">
              <p class="imam-style-content-title">ESPECIALIDAD</p>
              <p class="imam-style-content-subtitle">Minería de Datos</p>
              <div class="imam-litle-divider-style"></div>
              <p class="imam-content-text-style-bold">PERFIL DE INGRESO</p>
              <p class="imam-content-text-style">El aspirante deberá contar con cédula profesional nivel superior o haber cubierto el total de créditos de la licenciatura cuando se curse como opción de titulación.</p>
            </div>
            <div class="carousel-item p-5">
              <p class="imam-style-content-title">ESPECIALIDAD</p>
              <p class="imam-style-content-subtitle">Minería de Datos</p>
              <div class="imam-litle-divider-style"></div>
              <p class="imam-content-text-style-bold">ANTECEDENTE ACADÉMICO DE INGRESO</p>
              <p class="imam-content-text-style">Certificado total de estudios nivel superior, Título y Cédula profesional de licenciatura.
                En caso de opción de titulación únicamente certificado total de estudios nivel superior</p>
            </div>
            <div class="carousel-item p-5">
              <p class="imam-style-content-title">ESPECIALIDAD</p>
              <p class="imam-style-content-subtitle">Minería de Datos</p>
              <div class="imam-litle-divider-style"></div>
              <p class="imam-content-text-style-bold">PERFIL DE EGRESO</p>
              <p class="imam-content-text-style">
                Los egresados contarán con:
                <br>
                • Amplio conocimiento de las principales técnicas y enfoques que tiene el proceso de descubrimiento de conocimiento en bases de datos (KDD, por sus siglas en inglés).
                <br>
                • Alta capacidad para identificar las diferentes fases que requiere la consolidación de fuentes de datos (posiblemente heterogéneas) desde el punto de vista de las principales metodologías para el desarrollo de proyectos de Minería de Datos, CRISP-DM y SEMMA (SAS). 
                <br>
                •••
              </p>
            </div>
            <div class="carousel-item p-5">
              <p class="imam-style-content-title">ESPECIALIDAD</p>
              <p class="imam-style-content-subtitle">Minería de Datos</p>
              <div class="imam-litle-divider-style"></div>
              <p class="imam-content-text-style-bold">PERFIL DE EGRESO</p>
              <p class="imam-content-text-style">
                • Habilidad para explorar y utilizar fuentes de datos heterogéneas para alimentar, consolidar e integrar datos, dentro de un repositorio consolidado que puede ser una base de datos y posiblemente un Almacén de Datos (Dataware house).
                <br>
                • Conocimiento amplio sobre las distintas técnicas existentes de minería de datos, estadística y de visualización de información.
                <br>
                •••
              </p>
            </div>
            <div class="carousel-item p-5">
              <p class="imam-style-content-title">ESPECIALIDAD</p>
              <p class="imam-style-content-subtitle">Minería de Datos</p>
              <div class="imam-litle-divider-style"></div>
              <p class="imam-content-text-style-bold">PERFIL DE EGRESO</p>
              <p class="imam-content-text-style">
                • Excelente comprensión del proceso de la Minería de Datos para extraer y generar conocimiento desde bases de dato
                <br>
                • Habilidad para aplicar principales técnicas para la solución de problemas de reconocimiento de patrones, clasificación, asociación, agrupación, pronóstico, descripción y visualización de datos.
                <br>
                •	Capacidad para diseñar y desarrollar sistemas para el apoyo a la toma de decisiones, contemplando el proceso completo: recolección de datos, procesamiento, modelado, evaluación y visualización.
              </p>
            </div>
          </div>
          <a class="carousel-control-prev" href="#carouselIMAMspecial" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselIMAMspecial" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
        <div class="row p-5">
          <div class="col" align="center">
            <a class="nav-link imam-btn-info-style" href="https://api.whatsapp.com/send?phone=+525583724190&text=Hola, me gustaría saber más información sobre la especialidad de Minería de Datos en el IMAM" target="_blank" >MÁS INFORMACIÓN <span class="sr-only"></span></a>
          </div>
        </div>
      </div>
  </div>
</div>
<div class="container pb-5">
  <div class="row">
      <div class="col-sm-12 col-lg-6 p-5">
        <img src="../../assets/images/posgrados/imam_img_sp2.jpg" class="img-fluid">
        <p class="imam-style-text-preview">RVOE 20211738</p>
      </div>
      <div class="col-sm-12 col-lg-6 p-lg-5">

        <div id="carouselIMAMspecial2" class="carousel slide imam-feature-description" data-ride="carousel" data-interval="10000">
          <ol class="carousel-indicators">
            <li data-target="#carouselIMAMspecial2" data-slide-to="0" class="active"></li>
            <li data-target="#carouselIMAMspecial2" data-slide-to="1"></li>
            <li data-target="#carouselIMAMspecial2" data-slide-to="2"></li>
            <li data-target="#carouselIMAMspecial2" data-slide-to="3"></li>
            <li data-target="#carouselIMAMspecial2" data-slide-to="4"></li>
          </ol>
          <div class="carousel-inner">
            <div class="carousel-item p-5 active">
              <p class="imam-style-content-title">ESPECIALIDAD</p>
              <p class="imam-style-content-subtitle">Probabilidad y Estadística</p>
              <div class="imam-litle-divider-style"></div>
              <p class="imam-content-text-style-bold">OBJETIVO</p>
              <p class="imam-content-text-style">
                El plan de estudios tiene como objetivo formar especialistas que participen, analicen y tomen decisiones en las áreas de Probabilidad y Estadística, dotándolos de conocimientos sólidos que los introduzcan a la investigación, docencia y/o en el ejercicio profesional de manera exitosa.
              </p>
            </div>
            <div class="carousel-item p-5">
              <p class="imam-style-content-title">ESPECIALIDAD</p>
              <p class="imam-style-content-subtitle">Probabilidad y estadística</p>
              <div class="imam-litle-divider-style"></div>
              <p class="imam-content-text-style-bold">PERFIL DE INGRESO</p>
              <p class="imam-content-text-style">
                El aspirante deberá contar con cédula profesional nivel superior o haber cubierto el total de créditos de la licenciatura cuando se curse como opción de titulación.
              </p>
            </div>
            <div class="carousel-item p-5">
              <p class="imam-style-content-title">ESPECIALIDAD</p>
              <p class="imam-style-content-subtitle">Probabilidad y estadística</p>
              <div class="imam-litle-divider-style"></div>
              <p class="imam-content-text-style-bold">ANTECEDENTE ACADÉMICO DE INGRESO</p>
              <p class="imam-content-text-style">Certificado total de estudios nivel superior, Título y Cédula profesional de licenciatura.
                En caso de opción de titulación únicamente certificado total de estudios nivel superior.
              </p>
            </div>
            <div class="carousel-item p-5">
              <p class="imam-style-content-title">ESPECIALIDAD</p>
              <p class="imam-style-content-subtitle">Probabilidad y estadística</p>
              <div class="imam-litle-divider-style"></div>
              <p class="imam-content-text-style-bold">PERFIL DE EGRESO</p>
              <p class="imam-content-text-style">
                Los egresados contarán con:
                <br>
                •	Conocimientos sólidos en probabilidad y estadística.
                <br>
                •	Alta capacidad para identificar y analizar problemas que impacten en el bienestar de las personas, la sociedad y las empresas.
                <br>
                •••
              </p>
            </div>
            <div class="carousel-item p-5">
              <p class="imam-style-content-title">ESPECIALIDAD</p>
              <p class="imam-style-content-subtitle">Probabilidad y estadística</p>
              <div class="imam-litle-divider-style"></div>
              <p class="imam-content-text-style-bold">PERFIL DE EGRESO</p>
              <p class="imam-content-text-style">
                •	Habilidad de integrar los componentes de análisis, riesgo, modelación y predicción de diferentes fenómenos económicos y sociales, mediante el planteamiento, construcción, formulación y aplicación de modelos de probabilidad y estadística, que permitan una adecuada toma de decisiones.
              </p>
            </div>
          </div>
          <a class="carousel-control-prev" href="#carouselIMAMspecial2" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselIMAMspecial2" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
        <div class="row p-5">
          <div class="col" align="center">
            <a class="nav-link imam-btn-info-style" href="https://api.whatsapp.com/send?phone=+525583724190&text=Hola, me gustaría saber más información sobre la especialidad de Probabilidad y Estadística en el IMAM" target="_blank" >MÁS INFORMACIÓN <span class="sr-only"></span></a>
          </div>
        </div>
      </div>
  </div>
</div>
<app-footer></app-footer>