<app-navbar></app-navbar>
<div class="imam-topImgElement">
    <img src="../../assets/images/contacto/imam_head_img.jpg" class="imam-img-header">
</div>
<div class="imam-secondary-container-style">
    <div class="container pt-5 pb-lg-5">
        <div class="row pt-5 pb-lg-5">
            <div class="col-md-6 col-sm-12 imam-form-col-style imam-col-borderForm-style">
                <div class="imam-col-content-style">
                    <p class="imam-title-form-style">CONTÁCTANOS</p>
                    <form #contactForm="ngForm" (ngSubmit)="onSubmitContactInfo(contactForm)" class="needs-validation" novalidate>
                        <div>
                            <div class="form-group row">
                                <label for="inputNameId" class="imam-input-label col-md-3 col-lg-2 col-form-label">Nombre</label>
                                <div class="col-md-9 col-lg-10">
                                    <input id="inputNameId" type="text" [(ngModel)]="nameContact" name="contactNameForm" class="form-control" #inputNameId="ngModel" [ngClass]="{ 'is-invalid':  inputNameId.invalid && (inputNameId.dirty || inputNameId.touched) }" required>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="inputEmailId" class="imam-input-label col-md-3 col-lg-2 col-form-label">Correo</label>
                                <div class="col-md-9 col-lg-10">
                                    <input type="email" [(ngModel)]="mailContact" name="mailContactForm" class="form-control" id="inputEmailId" #inputEmailId="ngModel"  email="true" [ngClass]="{ 'is-invalid':  inputEmailId.invalid && (inputEmailId.dirty || inputEmailId.touched) }" required>
                                     <div class="invalid-feedback" *ngIf="inputEmailId.invalid ">
                                      <small *ngIf="inputEmailId.errors">Ingresar un correo válido</small>
                                    </div>
                                </div>                            
                            </div>
                            <div class="form-group row">
                                <label for="inputPhoneId" class="imam-input-label col-md-3 col-lg-2 col-form-label">Teléfono</label>
                                <div class="col-md-9 col-lg-10">
                                    <input type="text" [(ngModel)]="phoneContact" name="phoneContactForm" class="form-control" id="inputPhoneId" #inputPhoneId="ngModel"  [ngClass]="{ 'is-invalid':  inputPhoneId.invalid && (inputPhoneId.dirty || inputPhoneId.touched) }" required numbersOnly>
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="inputServiceId" class="imam-input-label col-md-3 col-lg-2 col-form-label">Servicio</label>
                                <div class="col-md-9 col-lg-10">
                                    <select class="form-control" [(ngModel)]="selectService" name="selectOptionsCourse" id="inputServiceId" #inputServiceId="ngModel" [ngClass]="{ 'is-invalid':  inputServiceId.invalid && (inputServiceId.dirty || inputServiceId.touched) }" required>
                                        <option value="">Selecciona una opción...</option>
                                        <option *ngFor="let service of servicesList" [value]="service.id">
                                            {{service.tituloServicio}}
                                        </option>
                                    </select>
                                    
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="inputMessageId" class="imam-input-label">Mensaje</label>
                                <textarea class="form-control imam-control" [(ngModel)]="messageContact" name="msgContactForm" id="inputMessageId" #inputMessageId="ngModel"  rows="3" ></textarea>
                            </div>
                            <small id="nameHelp" class="form-text text-muted">No compartiremos tu información con nadie más</small>
                            <div class="row">
                                <div class="col" >
                                    <button class="btn btn-outline-light imam-btn-form-style ">Enviar</button>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                
            </div>
            <div class="col-md-6 col-sm-12 imam-address-col-style imam-col-borderAdreess-style">
                <div class="imam-col-content-style">
                    <p class="imam-title-address-style">NOS UBICAMOS EN: </p>
                    <p class="imam-address-style">Av. Insurgentes Sur 546, código 2, Roma Sur, Cuauhtémoc,
                        06760 Ciudad de México, CDMX</p>
                    <div class="embed-responsive embed-responsive-16by9 imam-googleMap-container">
                        <iframe class="embed-responsive-item" src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d940.8174434627329!2d-99.17044671193749!3d19.400746499177398!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x85d1ff6c8d6fbc61%3A0xda8fb57a958384d9!2sAv.%20Insurgentes%20Sur%20546%2C%20c%C3%B3digo%202%2C%20Roma%20Sur%2C%20Cuauht%C3%A9moc%2C%2006760%20Ciudad%20de%20M%C3%A9xico%2C%20CDMX!5e0!3m2!1ses-419!2smx!4v1607557888738!5m2!1ses-419!2smx" width="600" height="450" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>