@import '../../assets/scss/colors';
@import '../../assets/scss/font-sizes';
// regular style toast
@import '~ngx-toastr/toastr';

@media only screen and (max-width: 600px) {


    .imam-img-header{
        width: 100%;
    }
    

}

@media only screen and (min-width: 992px){
    .imam-img-header{
        width: 72%;
    }

}



   /*  css rules for landscape devices*/
   @media only screen 
   and (max-width: 850px)
   and (orientation:landscape)
   and (-webkit-min-device-pixel-ratio: 2) {
        .imam-img-header{
            width: 100%;
        }
   }

   @media only screen 
   and (min-width: 800px)
   and (max-width: 1024px)
   and (orientation:landscape)
   and (-webkit-min-device-pixel-ratio: 2) {
        .imam-img-header{
            width: 100%;
        }
   }


   @media screen and (device-width: 800px) and (device-height: 1280px) and (orientation:portrait)  and (-webkit-min-device-pixel-ratio: 1.5){
    .imam-img-header{
        width: 100%;
    }
}

 /*  css rules for ipad portrait */

@media only screen and (device-width: 768px) and (device-height: 1024px) and (orientation:portrait) {
    .imam-img-header{
        width: 100%;
    }
}

.imam-topImgElement{
    width: 100%;
}


.imam-primary-container-style{
    background-color: $colorContainerL;
}

.imam-title-address-style{
    font-size: $font-xxlg;
    font-weight: $bold;
    color: $colorAccent;
    text-align: right;
}

.imam-address-style{
    font-size: $font-sm;
    color: $colorAccent;
    text-align: right;
}

.imam-title-form-style{
    font-size: $font-xxlg;
    font-weight: $bold;
    color: $colorBase;
    text-align: left;
}

.imam-form-col-style{
    background-color: white;
}

.imam-address-col-style{
    background-color: $colorAccentL;
}

.imam-input-label{
    color: $colorBase;
}

.imam-control{
    background-color: $colorAccentL;

}

.imam-btn-form-style{
    margin-top: 2vh;
    border-radius: 0px;
    width: 25%;
    color: white;
    font-weight: $bold;
    font-size: $font-md;
    background-color: $colorBase;
}

.imam-googleMap-container{
    margin-top: 5vh;
}

.imam-secondary-container-style{
    background-color: white
    ;
}

.imam-col-content-style{
    margin-top: 5vh;
    margin-bottom: 10vh;
    padding-left: 1vw;
    padding-right: 1vw;
}
