@font-face {
    font-family: 'Myriad Pro';
    src: url('/assets/fonts/regular/MyriadPro-Regular.woff2') format('woff2'),
        url('/assets/fonts/regular/MyriadPro-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: 'Myriad Pro';
    src: url('/assets/fonts/bold/MyriadPro-BlackSemiCn.woff2') format('woff2'),
        url('/assets/fonts/bold/MyriadPro-BlackSemiCn.woff') format('woff');
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}
