// font-weight
$thin:100;
$light:300;
$regular:400;
$bold:700;
$black:900;

// Font size
$font-xs:12px;
$font-sm: 14px;
$primary-fs: 16px;
$font-md: 18px;
$font-lg: 24px;
$font-lg2: 28px;
$font-xlg: 30px;
$font-xxlg: 36px;
$font-xxxlg: 48px;
$font-big: 60px;
$font-xbig: 72px;
$font-xxbig: 82px;
$font-xxxbig: 82px;