@import '../../assets/scss/colors';
@import '../../assets/scss/font-sizes';

.imam-col-img-objetives-style{
    padding: 7%;
}

.imam-divider-style{
    border-top: 3px solid $colorBase;
}

.imam-title-style{
    color: $colorBase;
    font-size: $font-xxxlg;
    font-weight: $bold;
}


.imam-study-summary-style{
    font-size: $font-big;
    color: $colorBase;
    font-weight: $bold;
    letter-spacing: 3px;
}


.imam-info-container{
    background-color: $colorAccentL;
}

.imam-text-content-container{
    font-size: $font-md;
    color: $colorAccent
}

@media only screen and (max-width: 600px) {

    .imam-img-header{
        width: 100%;
    }

    .imam-title-style-1{
        font-size: $font-xxlg;
        font-weight: $bold;
        color: $colorBase;
        padding: 0;
        letter-spacing: 3px;
        line-height: 5vh;
    }
    
    .imam-title-style-2{
        font-size: $font-xxxlg;
        font-weight: $bold;
        color: $colorAccent;
        padding: 0;
        letter-spacing: 3px;
        line-height: 5vh;
    }
    
    .imam-title-style-3{
        font-size: $primary-fs;
        color: $colorAccent;
        padding: 0;
        line-height: 5vh;
    }

    .imam-rvoe-style{
        font-size: $font-lg;
        color: $colorAccent;
        
    }
}

@media only screen and (min-width: 992px){
   
    .imam-img-header{
        width: 72%;
    }

    .imam-title-style-1{
        font-size: $font-big;
        font-weight: $bold;
        color: $colorBase;
        padding: 0;
        letter-spacing: 3px;
        line-height: 10vh;
    }
    
    .imam-title-style-2{
        font-size: $font-xxxbig;
        font-weight: $bold;
        color: $colorAccent;
        padding: 0;
        letter-spacing: 3px;
        line-height: 10vh;
    }
    
    .imam-title-style-3{
        font-size: $font-lg;
        color: $colorAccent;
        padding: 0;
        line-height: 10vh;
    }

    .imam-rvoe-style{
        font-size: $font-lg;
        color: $colorAccent;
        line-height: 1vh;
    }
 
}

@media screen and (device-width: 800px) and (device-height: 1280px) and (orientation:portrait)  and (-webkit-min-device-pixel-ratio: 1.5){  


    .imam-img-header{
        width: 100%;
    }

    .imam-title-style-1{
        font-size: $font-big;
        font-weight: $bold;
        color: $colorBase;
        padding: 0;
        letter-spacing: 3px;
        line-height: 10vh;
    }
    
    .imam-title-style-2{
        font-size: $font-xxxbig;
        font-weight: $bold;
        color: $colorAccent;
        padding: 0;
        letter-spacing: 3px;
        line-height: 10vh;
    }
    
    .imam-title-style-3{
        font-size: $font-lg;
        color: $colorAccent;
        padding: 0;
        line-height: 10vh;
    }

    .imam-rvoe-style{
        font-size: $font-lg;
        color: $colorAccent;
        line-height: 1vh;
    }

}

 /*  css rules for ipad portrait */

@media only screen and (device-width: 768px) and (device-height: 1024px) and (orientation:portrait) {
    .imam-img-header{
        width: 100%;
    }

    .imam-title-style-1{
        font-size: $font-big;
        font-weight: $bold;
        color: $colorBase;
        padding: 0;
        letter-spacing: 3px;
        line-height: 10vh;
    }
    
    .imam-title-style-2{
        font-size: $font-xxxbig;
        font-weight: $bold;
        color: $colorAccent;
        padding: 0;
        letter-spacing: 3px;
        line-height: 10vh;
    }
    
    .imam-title-style-3{
        font-size: $font-lg;
        color: $colorAccent;
        padding: 0;
        line-height: 10vh;
    }

    .imam-rvoe-style{
        font-size: $font-lg;
        color: $colorAccent;
        line-height: 1vh;
    }
}

   /*  css rules for landscape devices*/
@media only screen 
and (max-width: 850px)
and (orientation:landscape)
and (-webkit-min-device-pixel-ratio: 2) {
    .imam-img-header{
        width: 100%;
    }

    .imam-title-style-1{
        font-size: $font-big;
        font-weight: $bold;
        color: $colorBase;
        padding: 0;
        letter-spacing: 3px;
        line-height: 10vh;
    }
    
    .imam-title-style-2{
        font-size: $font-xxxbig;
        font-weight: $bold;
        color: $colorAccent;
        padding: 0;
        letter-spacing: 3px;
        line-height: 10vh;
    }
    
    .imam-title-style-3{
        font-size: $font-lg;
        color: $colorAccent;
        padding: 0;
        line-height: 10vh;
    }

    .imam-rvoe-style{
        font-size: $font-lg;
        color: $colorAccent;
        line-height: 1vh;
    }

}

@media only screen 
and (min-width: 800px)
and (max-width: 1024px)
and (orientation:landscape)
and (-webkit-min-device-pixel-ratio: 2) {
    .imam-img-header{
        width: 100%;
    }

    .imam-title-style-1{
        font-size: $font-big;
        font-weight: $bold;
        color: $colorBase;
        padding: 0;
        letter-spacing: 3px;
        line-height: 10vh;
    }
    
    .imam-title-style-2{
        font-size: $font-xxxbig;
        font-weight: $bold;
        color: $colorAccent;
        padding: 0;
        letter-spacing: 3px;
        line-height: 10vh;
    }
    
    .imam-title-style-3{
        font-size: $font-lg;
        color: $colorAccent;
        padding: 0;
        line-height: 10vh;
    }

    .imam-rvoe-style{
        font-size: $font-lg;
        color: $colorAccent;
        line-height: 1vh;
    }

}

