<app-navbar></app-navbar>
<div class= "ah-head-home">
  <img src="../../assets/images/licenciatura/portadilla_op3.jpg" class="imam-img-header">
</div>
<div class="container pt-4">
    <div class="row">
        <div class="col-sm-12 col-lg-7 p-lg-5 pb-3">
            <p class="imam-title-style-1">
                LICENCIATURA
            </p>
            <p class="imam-title-style-2">
                EN ACTUARÍA
            </p>
            <p class="imam-title-style-3">
                Certificación RVOE SEP.20192948/2019-07-19
            </p>
            <img src="../../assets/images/licenciatura/Simbolos.png" class="img-fluid">
        </div>
        <div class="col-sm-12 col-lg-5 ">
            <img src="../../assets/images/licenciatura/chico_sin_fondo.png" class="img-fluid">
        </div>
    </div>
</div>
<div class="imam-info-container pt-5">
  <div class="container-fluid ">
      <div class="row ">
          <div class="col-sm-12 col-lg-6 imam-col-img-objetives-style">
              <img src="../../assets/images/licenciatura/imam_obj_img.png" class="img-fluid imam-img-objetives">
          </div>
          <div class="col-sm-12 col-lg-6 pt-lg-5">
              <p class="imam-title-style pt-lg-3">REQUISITOS DE INGRESO</p>
              <hr class="imam-divider-style">
              <div class="imam-text-content-container ">
                  <div class="row mb-3 mt-5">
                    <div class="col-auto col-lg-auto">
                      <img src="../../assets/images/licenciatura/imam_vignette_img1.png" width="15" class="img-fluid">
                    </div>
                    <div class="col-10 col-lg-10">
                      Tener bachillerato concluido (Certificado) - (preferentemente en el área de Físico-Matemáticas o equivalente)
                    </div>
                  </div>
                  <div class="row mb-3 mt-3">
                    <div class="col-auto col-lg-auto">
                      <img src="../../assets/images/licenciatura/imam_vignette_img2.png" width="15" class="img-fluid">
                    </div>
                    <div class="col-10 col-lg-10">
                      Solicitud para el examen de admisión.
                    </div>
                  </div>
                  <div class="row mb-3 mt-3">
                    <div class="col-auto col-lg-auto">
                      <img src="../../assets/images/licenciatura/imam_vignette_img3.png" width="15" class="img-fluid">
                    </div>
                    <div class="col-10 col-lg-10">
                      Examen de admisión (Aprobado)
                    </div>
                  </div>
                  <div class="row mb-3 mt-3">
                    <div class="col-auto col-lg-auto">
                      <img src="../../assets/images/licenciatura/imam_vignette_img4.png" width="15" class="img-fluid">
                    </div>
                    <div class="col-10 col-lg-10">
                      Identificación oficial (original y copia)
                    </div>
                  </div>
                  <div class="row mb-3 mt-3">
                    <div class="col-auto col-lg-auto">
                      <img src="../../assets/images/licenciatura/imam_vignette_img5.png" width="20" class="img-fluid">
                    </div>
                    <div class="col-10 col-lg-10">
                      Acta de nacimiento (original y copia) (En caso de alumnos extranjeros: fotocopia de calidad migratoria y equivalencia de estudios de nivel bachillerato)
                    </div>
                  </div>
                  <div class="row mb-3 mt-3">
                    <div class="col-auto col-lg-auto">
                      <img src="../../assets/images/licenciatura/imam_vignette_img6.png" width="20" class="img-fluid">
                    </div>
                    <div class="col-10 col-lg-10">
                      Comprobante de domicilio (original y copia)
                    </div>
                  </div>
                  <div class="row mb-3 mt-3">
                    <div class="col-auto col-lg-auto">
                      <img src="../../assets/images/licenciatura/imam_vignette_img7.png" width="15" class="img-fluid">
                    </div>
                    <div class="col-10 col-lg-10">
                      Cuatro fotografías tamaño infantil (recientes)
                    </div>
                  </div>
                  <div class="row mb-3 mt-3">
                    <div class="col-auto col-lg-auto">
                      <img src="../../assets/images/licenciatura/imam_vignette_img8.png" width="15" class="img-fluid">
                    </div>
                    <div class="col-10 col-lg-10">
                      CURP (original y copia)
                    </div>
                  </div>
                </div>
          </div>
      </div>
  </div>
</div>
<div class="container pb-5 pt-5">
    <div class="row ">
        <div class="col ah-text-header-rvoe" align="center">
            <p class="imam-study-summary-style">PLAN DE ESTUDIOS</p>
            <p class="imam-rvoe-style">Certificación RVOE SEP.20192948/2019-07-19</p>
        </div>
    </div>
    <div class="row pt-5">
        <div class="col-md-4 col-sm-12 align-self-center">
            <img src="../../assets/images/licenciatura/imam_img_lic_summary_1.jpg" class="img-fluid">
        </div>
        <div class="col-md-4 col-sm-12 align-self-center">
            <img src="../../assets/images/licenciatura/imam_img_lic_summary_2.jpg" class="img-fluid">
        </div>
        <div class="col-md-4 col-sm-12 align-self-center">
            <img src="../../assets/images/licenciatura/imam_img_lic_summary_3.jpg" class="img-fluid">
        </div>
    </div>
</div>

<app-footer></app-footer>
