<app-navbar></app-navbar>
<div class= "ah-head-home">
  <img src="../../assets/images/homepage/imam_home_pos_home_img.jpg" class="img-fluid ">
</div>
<div class="container-fluid pt-5 pb-5">
  <div class="row pt-5 pb-5">
    <div class="col-sm-12 col-lg-4 p-5">
      <div id="carouselIMAM1" class="carousel slide" data-ride="carousel" data-interval="5000">
        <ol class="carousel-indicators">
          <li data-target="#carouselIMAM1" data-slide-to="0" class="active"></li>
          <li data-target="#carouselIMAM1" data-slide-to="1"></li>
          <li data-target="#carouselIMAM1" data-slide-to="2"></li>
          <li data-target="#carouselIMAM1" data-slide-to="3"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="../../assets/images/homepage/imam_slider_1_img1.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="../../assets/images/homepage/imam_slider_1_img2.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="../../assets/images/homepage/imam_slider_1_img3.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="../../assets/images/homepage/imam_slider_1_img4.jpg" class="d-block w-100" alt="...">
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselIMAM1" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselIMAM1" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
    <div class="col-sm-12 col-lg-4 p-5">
      <div id="carouselIMAM2" class="carousel slide" data-ride="carousel" data-interval="8000">
        <ol class="carousel-indicators">
          <li data-target="#carouselIMAM2" data-slide-to="0" class="active"></li>
          <li data-target="#carouselIMAM2" data-slide-to="1"></li>
          <li data-target="#carouselIMAM2" data-slide-to="2"></li>
          <li data-target="#carouselIMAM2" data-slide-to="3"></li>
          <li data-target="#carouselIMAM2" data-slide-to="4"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item">
            <img src="../../assets/images/homepage/imam_slider_2_img5.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item active">
            <img src="../../assets/images/homepage/imam_slider_2_img1.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="../../assets/images/homepage/imam_slider_2_img2.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="../../assets/images/homepage/imam_slider_2_img3.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="../../assets/images/homepage/imam_slider_2_img4.jpg" class="d-block w-100" alt="...">
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselIMAM2" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselIMAM2" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
    <div class="col-sm-12 col-lg-4 p-5">
      <div id="carouselIMAM3" class="carousel slide" data-ride="carousel" data-interval="11000">
        <ol class="carousel-indicators">
          <li data-target="#carouselIMAM3" data-slide-to="0" class="active"></li>
          <li data-target="#carouselIMAM3" data-slide-to="1"></li>
          <li data-target="#carouselIMAM3" data-slide-to="2"></li>
          <li data-target="#carouselIMAM3" data-slide-to="3"></li>
        </ol>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="../../assets/images/homepage/imam_slider_3_img1.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="../../assets/images/homepage/imam_slider_3_img2.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="../../assets/images/homepage/imam_slider_3_img3.jpg" class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="../../assets/images/homepage/imam_slider_3_img4.jpg" class="d-block w-100" alt="...">
          </div>
        </div>
        <a class="carousel-control-prev" href="#carouselIMAM3" role="button" data-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="carousel-control-next" href="#carouselIMAM3" role="button" data-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
    </div>
  </div>
</div>
<!-- <div class="container pt-5 ">
  <div class="row pt-5 pb-2">
      <div class="col-sm-1 col-lg-6 p-lg-5 pb-5">
        <img src="../../assets/images/homepage/imam_simbols_img.jpg" class="img-fluid">
      </div>
      <div class="col-sm-1 col-lg-6 p-lg-5">
        <div class="row">
          <div class="col">
            <p class="imam-title-style">INSTITUTO MATEMÁTICO
              Y ACTUARIAL MEXICANO</p>
          </div>
        </div>
        <div class="row">
          <div class="col imam-paragraph-style">
            <p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit, sed
              diam nonummy nibh euismod tincidunt ut laoreet dolore
              magna aliquam erat volutpat. Ut wisi enim ad minim veniam,
              quis nostrud exerci tation ullamcorper suscipit lobortis nisl
              ut aliquip ex ea commodo consequat. Duis autem vel eum
              iriure dolor in hendrerit in vulputate velit esse molestie
              consequat, vel illum dolore eu feugiat nulla facilisis at vero
              eros et accumsan et iusto odio dignissim qui blandit
              praesent luptatum zzril delenit augue duis dolore te feugait
              nulla facilisi.</p>
              <p>Lorem ipsum dolor sit amet, cons ectetuer adipiscing elit,
              sed diam nonummy nibh euismod tincidunt ut laoreet
              dolore magna aliquam erat volutpat.</p>
          </div>
        </div>
      </div>
  </div>
</div> -->
<div class="container-fluid">
  <div class="row  pb-5">
    <div class="col">
      <p class="imam-sign-style">
        “POR UNA CARRERA DE ACTUARÍA MÁS APLICADA”
      </p>
    </div>
  </div>
</div>
<div class="container pt-5 pb-5">
  <div class="row">
    <div class="col-sm-12 col-lg-6 p-lg-5">
     <p class="imam-text-ceo-message">
      “Me llena de entusiasmo presentarles al Instituto
      Matemático y Actuarial Mexicano (IMAM), un instituto
      fundado con amplio conocimiento de lo que es la carrera de
      Actuaría en su parte académica y Profesional, en la teoría y la
      aplicación.</p>
      <p class="imam-text-ceo-message">Nuestra pasión por la actuaría y la educación nos llevó a
      integrar al IMAM a nuestro grupo de consultoría y
      capacitación empresarial Actuary Hunters, siendo un
      instituto en donde se estudia actuaría con profesionales que
      conviven día a día con el mercado laboral y capacitan a
      empresas de talla mundial.</p>
      <p class="imam-text-ceo-message">¡Tú educación es importante para nosotros!, te invito a que te
      des la oportunidad de vivir la actuaria con IMAM”.</p>
     <p class="imam-text-ceo-name">
      Mtro. Alejandro Carrillo Nolazco
      <br>
      Rector
     </p>
    </div>
    <div class="col-sm-12 col-lg-6 p-lg-5">
      <img src="../../assets/images/homepage/imam_rector_img.jpg" class="img-fluid">
    </div>
  </div>
</div>
<div class="container-fluid servicesIMAMContainer">
  <div class="row pb-5 pt-5 pl-lg-5 pr-lg-5">
    <div class="col-lg-3 p-5" >
      <div class="row">
        <div class="col-sm pb-3" align="center">
          <img src="../../assets/images/homepage/imam_service_1.png" class="img-fluid ah-img-head-block">
        </div>
      </div>
      <div class="row">
        <div class="col-sm" align="center">
          <p class="imam-titleElementContent">Actuary Hunters</p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm imam-text-block">
          <p>Es una empresa mexicana conformada por un equipo de profesionales especializados, certificados y con experiencia tanto nacional como internacional, dedicados a brindar consultoría y capacitación actuarial por más de una década.</p>
        </div>
      </div>
    </div>
    <div class="col-lg-3 p-5">
      <div class="row">
        <div class="col-sm pb-3" align="center">
          <img src="../../assets/images/homepage/imam_service_2.png"  class="img-fluid ah-img-head-block">
        </div>
      </div>
      <div class="row">
        <div class="col-sm" align="center">
          <p class="imam-titleElementContent">Actuary Pensiones</p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm imam-text-block">
          <p>En Pensiones de Seguridad Social, tenemos a un equipo de actuarios que asesoran a nuestros clientes, en pro de obtener el mejor beneficio que se han ganado a través de los años. Vamos por una edad de oro con más sonrisas.</p>
        </div>
      </div>
    </div>
    <div class="col-lg-3 p-5">
      <div class="row">
        <div class="col-sm pb-3" align="center">
          <img src="../../assets/images/homepage/imam_service_3.png"  class="img-fluid ah-img-head-block">
        </div>
      </div>
      <div class="row">
        <div class="col-sm" align="center">
          <p class="imam-titleElementContent">Management</p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm imam-text-block">    
          Nuestro equipo de expertos en gestión organizacional se especializa en facilitar la adopción de métodos, herramientas y buenas prácticas, para implementar exitosamente estrategias, políticas y procesos que mejoren el desempeño y el cumplimiento normativo de las organizaciones.
        </div>
      </div>
    </div>
    <div class="col-lg-3 p-5">
      <div class="row">
        <div class="col-sm pb-3" align="center">
          <img src="../../assets/images/homepage/imam_service_4.png"  class="img-fluid ah-img-head-block">
        </div>
      </div>
      <div class="row">
        <div class="col-sm" align="center">
          <p class="imam-titleElementContent">Minería de Datos</p>
        </div>
      </div>
      <div class="row">
        <div class="col-sm imam-text-block">
          <p>Estamos a la vanguardia en lenguajes y herramientas que nos permiten brindar soluciones integrales desde la explotación, limpieza y entendimiento de datos, hasta la automatización de procesos. </p>
        </div>
      </div>      
    </div>
  </div>
</div>

<app-footer></app-footer>