@import '../../assets/scss/colors';
@import '../../assets/scss/font-sizes';


.imam-titleElementContent{
    color: $colorAccent;
    font-weight: $bold;
    font-size: $font-lg2;
}

.imam-paragraph-style{
    color: $colorAccent;
    font-size: $font-md;
    text-align: justify;
}

.imam-text-ceo-message{
    color: $colorAccent;
    font-size: $font-md;
    text-align: justify;
}

.imam-text-ceo-name{
    color: $colorBase;
    font-size: $font-lg;
    font-weight: $bold;
    text-align: right;
    margin-top: 5vh;
}

.imam-sign-style{
    color: $colorAccent;
    font-size: $font-xxxlg;
    text-align: center;
    font-weight: $bold;
    letter-spacing: 5px;
}

.ah-content-principal-home{
    background-color: $colorBase;
    color: white;
}

.ah-bold-text-style{
    font-weight: $bold;
    font-size: $font-xlg;
}

.carousel-indicators li {
    width: 15px;
    height: 15px;
    border-radius: 0;    
    background-color: #000 !important;
}


.ah-text-font-accent{
    font-style: italic;
}

.ah-btn-download-style{
    background-color: $colorBase;
    border-radius: 30rem;
    padding: 2%;
    color: white;
}

.ah-btn-download-style:hover{
    background-color: $colorBase;
    border-radius: 30rem;
    padding: 2%;
    background-color: $colorAccentL;
}

.ah-bold-large-text{
    font-weight: $bold;
    font-size: $font-xxlg;
}

.servicesIMAMContainer{
    background-color: $colorAccentL;
}


@media only screen and (max-width: 600px) {
    .aboutUsText{
        color: $colorBase;
        font-size: $primary-fs;
        text-align: justify;
    }    
    
    .ah-text-head-container{
        font-size: $font-md;
        text-align: justify;
    }

    .ah-text-head-container-sub{
        font-size: $font-md;
        text-align: right;
    }

    .carousel-indicators{
        bottom: -10vh !important;
    }

    .imam-title-style{
        color: $colorBase;
        font-size: $font-xlg;
        font-weight: $bold;
        padding-bottom: 1vh;
    }

    .imam-text-block{
        font-size: $font-md;
        text-align: justify;
        color: $colorAccent;
    }
}

@media only screen and (min-width: 992px){
    .aboutUsText{
        color: $colorBase;
        font-size: $font-md;
        width: 90%;
        text-align: justify;
    }    

    .ah-img-head-block{
        width: 50%;
    }

    .ah-text-head-container{
        font-size: $font-lg;
        text-align: justify;
    }

    .ah-text-content-container{
        font-size: $font-lg;
        text-align: justify;
    }

    .ah-text-head-container-sub{
        font-size: $font-lg;
        text-align: right;
    }

    .carousel-indicators{
        bottom: -10vh !important;
    }

    .imam-text-block{
        font-size: $font-md;
        text-align: justify;
        color: $colorAccent;
    }
  
    .imam-title-style{
        color: $colorBase;
        font-size: $font-xxlg;
        font-weight: $bold;
        padding-bottom: 1vh;
    }
}

@media screen and (device-width: 800px) and (device-height: 1280px) and (orientation:portrait)  and (-webkit-min-device-pixel-ratio: 1.5){
    .aboutUsText{
        color: $colorBase;
        font-size: $font-sm;
        width: 90%;
        text-align: justify;
    }    

    .ah-text-head-container-sub{
        font-size: $font-md;
        text-align: right;
    }

    .carousel-indicators{
        bottom: -10vh !important;
    }

    .imam-title-style{
        color: $colorBase;
        font-size: $font-xxlg;
        font-weight: $bold;
        padding-bottom: 1vh;
    }

    .imam-text-block{
        font-size: $font-md;
        text-align: justify;
        color: $colorAccent;
    }
}

 /*  css rules for ipad portrait */

@media only screen and (device-width: 768px) and (device-height: 1024px) and (orientation:portrait) {
    .aboutUsText{
        color: $colorBase;
        font-size: $font-sm;
        width: 94%;
        text-align: justify;
    }    

    .ah-text-head-container-sub{
        font-size: $font-md;
        text-align: right;
    }

    .carousel-indicators{
        bottom: -10vh !important;
    }

    .imam-title-style{
        color: $colorBase;
        font-size: $font-xxlg;
        font-weight: $bold;
        padding-bottom: 1vh;
    }

    .imam-text-block{
        font-size: $font-md;
        text-align: justify;
        color: $colorAccent;
    }
}

   /*  css rules for landscape devices*/
   @media only screen 
   and (max-width: 850px)
   and (orientation:landscape)
   and (-webkit-min-device-pixel-ratio: 2) {
        .aboutUsText{
            color: $colorBase;
            width: 90%;
            font-size: $font-md;
            text-align: justify;
        }

        .imam-text-block{
            font-size: $font-md;
            text-align: justify;
            color: $colorAccent;
        }

        .ah-img-head-block{
            width: 30%;
        }

        .imgAboutUs{
            width: 60%;
        }

        .ah-text-head-container-sub{
            font-size: $font-md;
            text-align: right;
        }

        .carousel-indicators{
            bottom: -15vh !important;
        }

        .imam-title-style{
            color: $colorBase;
            font-size: $font-xxlg;
            font-weight: $bold;
            padding-bottom: 1vh;
        }
}

   @media only screen 
   and (min-width: 800px)
   and (max-width: 1024px)
   and (orientation:landscape)
   and (-webkit-min-device-pixel-ratio: 2) {
        .aboutUsText{
            color: $colorBase;
            width: 90%;
            font-size: $font-sm;
            text-align: justify;
        }

        .imam-text-block{
            font-size: $font-sm;
            text-align: justify;
            color: $colorAccent;
            padding: 0;
            letter-spacing: 0px;
            
        }

        .ah-img-head-block{
            width: 80%;
        }

        .imgAboutUs{
            width: 106%;
        }

        .ah-text-head-container-sub{
            font-size: $font-md;
            text-align: right;
        }

        .carousel-indicators{
            bottom: -15vh !important;
        }

        .imam-title-style{
            color: $colorBase;
            font-size: $font-xxlg;
            font-weight: $bold;
            padding-bottom: 1vh;
        }
}

