<app-navbar></app-navbar>
<div class= "ah-head-home">
  <img src="../../assets/images/aboutus/imam_head_img.jpg" class="imam-img-header">
</div>
<div class="container pt-5 ">
    <p class="imam-title-style-1">IDEARIO INSTITUCIONAL</p>
</div>
<div class="container-fluid imam-container-principal-style pb-lg-5">
    <div class="row">
        <div class="col-lg-6 col-md-12 p-5">
            <p class="imam-style-content-title p-4">MISIÓN</p>
            <p class="imam-content-text-style p-4">Construir una institución desde la
                práctica profesional, una formación de
                calidad en los estudiantes a través de
                vínculos profesionales, empresariales y
                organizaciones para que sean capaces de
                responder a los restos de su entorno.</p>
        </div>
        <div class="col-lg-6 col-md-12 imam-border-bottom-style" style="padding-right: 0px;padding-left: 0px;">
            <div class="p-5 ">
                <p class="imam-style-content-title p-4">VISIÓN</p>
                <p class="imam-content-text-style p-4">Ser una institución reconocida a nivel
                    nacional e internacional por nuestra
                    comunidad Actuarial, en la que todos
                    quieran pertenecer, con opciones de trabajo,
                    crecimiento y recreación.</p>
            </div>
            <div class="imam-litle-divider-style ml-auto"></div>
        </div>
    </div>
</div>
<div class="container-fluid imam-container-principal-style pt-5">
    <div class="row">
        <div class="col pl-5">
            <p class="imam-style-content-title ">VALORES</p>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row pl-5 pt-2 pr-5">
        <div class="col-lg-6 col-md-12 p-lg-5 pb-5">
            <div class="row">
                <div *ngIf="show" class="col-lg-auto  pb-5" [@enterAndLeaveFromLeft] align="center">
                    <img src="../../assets/images/aboutus/imam_icon_respectful.png" width="130" class="img-fluid ">
                </div>
                <div class="col-lg-8  pr-lg-5">
                    <p class="imam-style-content-subtitle">RESPETO</p>
                    <p class="imam-content-text-style">Mantenemos relaciones integrales para que
                        cada persona sea libre de expresar sus ideas
                        y opinar de manera objetiva sobre las ideas
                        de los demás.</p>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-12 p-lg-5 pb-5 ">
            <div class="row">
                <div *ngIf="show" class="col-lg-auto  pb-5" [@enterAndLeaveFromLeft] align="center">
                    <img src="../../assets/images/aboutus/imam_icon_selfeffort.png" width="130" class="img-fluid ">
                </div>
                <div class="col-lg-8  pr-lg-5">
                    <p class="imam-style-content-subtitle">INICIATIVA</p>
                    <p class="imam-content-text-style">Tenemos la capacidad de crear y emprender
                        nuevos retos, mejorando resultados día con
                        día para continuar con la búsqueda de
                        nuevas generaciones exitosas.</p>
                </div>
            </div>
        </div>
    </div>
    <div class="row p-5">
        <div class="col-lg-6 col-md-12 p-lg-5 pb-5">
            <div class="row">
                <div *ngIf="show" class="col-lg-auto  pb-5" [@enterAndLeaveFromLeft] align="center">
                    <img src="../../assets/images/aboutus/imam_icon_integrity.png" width="130" class="img-fluid ">
                </div>
                <div class="col-lg-8  pr-lg-5">
                    <p class="imam-style-content-subtitle">INTEGRIDAD</p>
                    <p class="imam-content-text-style">La estancia del alumno en la institución se
                        mantiene en equilibrio entre los valores de
                        cada individuo y los que adopta la
                        institución.</p>
                </div>
            </div>
        </div>
        <div class="col-lg-6 col-md-12 p-lg-5 pb-5">
            <div class="row">
                <div *ngIf="show" class="col-lg-auto  pb-5" [@enterAndLeaveFromLeft] align="center">
                    <img src="../../assets/images/aboutus/imam_icon_profesionalquality.png" width="130" class="img-fluid ">
                </div>
                <div class="col-lg-8  pr-lg-5">
                    <p class="imam-style-content-subtitle">PROFESIONALISMO</p>
                    <p class="imam-content-text-style">Reunimos compromiso, mensura y
                        responsabilidad, para actuar en la formación
                        de los alumnos de manera positiva, logrando
                        que desempeñen su formación en su vida
                        personal y profesional.</p>
                </div>
            </div>
        </div>
    </div>
</div>
<app-footer></app-footer>
