@import '../../assets/scss/colors';
@import '../../assets/scss/font-sizes';

.imam-feature-description{
    border: 2px solid $colorBase;
}


.imam-border-bottom-style{
    border-bottom: 2px solid $colorBase;
}

.imam-content-text-style{
    font-size: $font-md;
    color: $colorAccent;   
    text-align: justify;
}

.imam-litle-divider-style{
    height: 30px;
    width: 80px;
    background-color: $colorBase;
    margin-top: 3vh;
}

.carousel-indicators li {
    width: 15px;
    height: 15px;
    border-radius: 0;    
    background-color: #000 !important;
}



.imam-title-style-2{
    font-size: $font-xxxbig;
    font-weight: $bold;
    color: $colorAccent;
    padding: 0;
    letter-spacing: 3px;
    line-height: 10vh;
}

.imam-title-style-3{
    font-size: $font-lg;
    color: $colorAccent;
    padding: 0;
    line-height: 10vh;
}

.imam-study-summary-style{
    font-size: $font-big;
    color: $colorBase;
    font-weight: $bold;
    letter-spacing: 3px;
}

.imam-rvoe-style{
    font-size: $font-lg;
    color: $colorAccent;
    line-height: 1vh;
}

@media only screen and (max-width: 600px) {

    .imam-img-header{
        width: 100%;
    }

    .imam-style-content-subtitle{
        font-size: $font-xlg;
        color: $colorBase;
        padding: 0;
        line-height: 5vh;
    }

    .imam-title-style-1{
        font-size: $font-xxlg;
        font-weight: $bold;
        color: $colorBase;
        padding: 0;
        letter-spacing: 3px;
        line-height: 7vh;
        text-align: center;
    }

    .imam-style-content-title{
        font-size: $font-xxlg;
        color: $colorAccent;
        font-weight: $bold;
        padding: 0;
    }
}

@media only screen and (min-width: 992px){
   
    .imam-img-header{
        width: 72%;
    }

    .imam-title-style-1{
        font-size: $font-big;
        font-weight: $bold;
        color: $colorBase;
        padding: 0;
        letter-spacing: 3px;
        line-height: 10vh;
        text-align: center;
    }

    .imam-style-content-title{
        font-size: $font-xxxlg;
        color: $colorAccent;
        font-weight: $bold;
        padding: 0;
    }

    .imam-img-content-style{
        width: 30%;
    }

    .imam-style-content-subtitle{
        font-size: $font-xxlg;
        color: $colorBase;
        padding: 0;
        line-height: 5vh;
    }

    .imam-container-principal-style{
        padding-left: 11vw;
        padding-right: 12vw;
    }
 
}

@media screen and (device-width: 800px) and (device-height: 1280px) and (orientation:portrait)  and (-webkit-min-device-pixel-ratio: 1.5){  


    .imam-img-header{
        width: 100%;
    }

    .imam-title-style-1{
        font-size: $font-big;
        font-weight: $bold;
        color: $colorBase;
        padding: 0;
        letter-spacing: 3px;
        line-height: 10vh;
        text-align: center;
    }

    .imam-style-content-title{
        font-size: $font-xxxlg;
        color: $colorAccent;
        font-weight: $bold;
        padding: 0;
    }

    .imam-style-content-subtitle{
        font-size: $font-xxlg;
        color: $colorBase;
        padding: 0;
        line-height: 5vh;
    }
}

 /*  css rules for ipad portrait */

@media only screen and (device-width: 768px) and (device-height: 1024px) and (orientation:portrait) {
    .imam-img-header{
        width: 100%;
    }

    .imam-title-style-1{
        font-size: $font-big;
        font-weight: $bold;
        color: $colorBase;
        padding: 0;
        letter-spacing: 3px;
        line-height: 10vh;
        text-align: center;
    }

    .imam-style-content-title{
        font-size: $font-xxxlg;
        color: $colorAccent;
        font-weight: $bold;
        padding: 0;
    }

    .imam-style-content-subtitle{
        font-size: $font-xxlg;
        color: $colorBase;
        padding: 0;
        line-height: 5vh;
    }
}

   /*  css rules for landscape devices*/
@media only screen 
and (max-width: 850px)
and (orientation:landscape)
and (-webkit-min-device-pixel-ratio: 2) {
    .imam-img-header{
        width: 100%;
    }

    .imam-title-style-1{
        font-size: $font-xxxlg;
        font-weight: $bold;
        color: $colorBase;
        padding: 0;
        letter-spacing: 3px;
        line-height: 20vh;
        text-align: center;
    }

    .imam-style-content-title{
        font-size: $font-xxxlg;
        color: $colorAccent;
        font-weight: $bold;
        padding: 0;
    }

    .imam-style-content-subtitle{
        font-size: $font-xxlg;
        color: $colorBase;
        padding: 0;
        line-height: 5vh;
    }
}

@media only screen 
and (min-width: 800px)
and (max-width: 1024px)
and (orientation:landscape)
and (-webkit-min-device-pixel-ratio: 2) {
    .imam-img-header{
        width: 100%;
    }

    .imam-title-style-1{
        font-size: $font-big;
        font-weight: $bold;
        color: $colorBase;
        padding: 0;
        letter-spacing: 3px;
        line-height: 20vh;
        text-align: center;
    }

    .imam-style-content-title{
        font-size: $font-xxxlg;
        color: $colorAccent;
        font-weight: $bold;
        padding: 0;
    }

    .imam-style-content-subtitle{
        font-size: $font-xxlg;
        color: $colorBase;
        padding: 0;
        line-height: 5vh;
    }
}

