<app-navbar></app-navbar>
<div class= "ah-head-home">
  <img src="../../assets/images/diplomados/imam_img_head.jpg" class="imam-img-header">
</div>
<div class="container pt-5 ">
  <p class="imam-title-style-1">DIPLOMADOS</p>
</div>
<div class="container pb-5">
  <div class="row">
      <div class="col-sm-12 col-lg-6 p-5">
        <img src="../../assets/images/diplomados/imam_img_01.jpg" class="img-fluid">
      </div>
      <div class="col-sm-12 col-lg-6 pt-lg-5">
        <div class="imam-feature-description p-5">
            <p class="imam-style-content-title">DIPLOMADO</p>
            <p class="imam-style-content-subtitle">Minería de Datos con SAS</p>
            <div class="imam-litle-divider-style"></div>
            <p class="imam-content-text-style">
              Nuestro diplomado tiene un correcto equilibrio entre los aspectos teóricos y prácticos, los cuales permiten al participante aterrizar todos y cada uno de los conceptos revisados, con el objetivo de que pueda ponerlos en práctica muy rápidamente, con la ventaja de poder explorar diferentes escenarios muy cercanos a la vida real.
              Este programa está diseñado para manejar a la perfección 3 aspectos clave: Recolección y almacenamiento de información. Minería de datos que permita un análisis inteligente de la información recolectada. Visualización óptima de la información.
            </p>
            
            <div class="row">
              <div class="col pb-4">
                <button class="btn btn-outline-light imam-btn-form-style " (click)="downloadPdf('https://drive.google.com/file/d/1Pb9I21rZj4HQ9Uj_5x4BlY1tUXZekDAt', 'Mineria_datos_SAS.pdf')">Descargar programa</button>
                <!-- https://drive.google.com/file/d/1Pb9I21rZj4HQ9Uj_5x4BlY1tUXZekDAt/ -->
              </div>
            </div>
            <div class="row"> 
              <div class="col">
                <button class="btn btn-outline-light imam-btn-form-style " (click)="navigateToContact('s1')" >Inscripción</button>
                <!-- https://drive.google.com/file/d/1pMXFceNTNbr29sDrq-k1LzZtiahmC-G7/ -->
              </div>
            </div>
        </div>
      </div>
  </div>
</div>
<div class="container pb-5">
  <div class="row">
      <div class="col-sm-12 col-lg-6 p-5">
        <img src="../../assets/images/diplomados/imam_img_02.jpg" class="img-fluid">
      </div>
      <div class="col-sm-12 col-lg-6 pt-lg-5">
        <div class="imam-feature-description p-5">
            <p class="imam-style-content-title">DIPLOMADO</p>
            <p class="imam-style-content-subtitle">Programación con SAS</p>
            <div class="imam-litle-divider-style"></div>
            <p class="imam-content-text-style">Nuestros expertos cuentan con una amplia y consistente trayectoria en temas como Bases de Datos, Programación, Estadística y Probabilidad, de manera que están capacitados para poder brindar a los participantes una visión completa y detallada sobre los aspectos que involucran la Programación, el
              diseño de Macros, así como el Análisis y la Manipulación de datos.
              Al finalizar el Diplomado, los participantes serán capaces de: Adquirir conocimiento en la forma de escribir programas en Base SAS y en la forma de presentar sus datos. Crear una API propia (a través de Macros) que les permita simplificar diversas tareas. Crear, manipular y analizar sus datos utilizando SAS Enterprise Guide.             
            </p>
            <div class="row">
              <div class="col pb-4">
                <button class="btn btn-outline-light imam-btn-form-style " (click)="downloadPdf('https://drive.google.com/file/d/1pMXFceNTNbr29sDrq-k1LzZtiahmC-G7', 'Programacion_con_SAS.pdf')">Descargar programa</button>
              </div>
            </div>
            <div class="row"> 
              <div class="col">
                <button class="btn btn-outline-light imam-btn-form-style " (click)="navigateToContact('s2')" >Inscripción</button>
              </div>
            </div>
        </div>
      </div>
  </div>
</div>
<app-footer></app-footer>
