@import '../../../assets/scss/colors';
@import '../../../assets/scss/font-sizes';


@media only screen and (min-width: 992px) {
    .navbar{
        position:fixed;
        width:100%;
        //background-color:#fff;
        z-index:10;
        border-radius:0;
        border-color:transparent;
        padding-top: 30px;
    }
   

    .nav-item a {
        transition: 0.1s ease;
    }
    
    .nav-item a:hover {
        color: $colorBase !important;
    }

    .navbar-font-style-IMAM{
        font-weight: $bold;
        font-size: $font-md;
    }

} 



.navbar-toggler-icon{
    color: "white"
}

.default-nav-style{
    transition:500ms ease;
    background:transparent;
}

.scrolled-nav-style{
    background:$colorAccent;
}

.mobile-nav-style{
    background:$colorAccentL;
}

a.nav-link.default-nav-btn-style{
    margin-right: 5vw;
    background-color: #ffffff;
    color: $colorBase;
    border: 2px solid $colorBase;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

a.nav-link.default-nav-btn-style:hover{
    background-color: $colorAccent;
    color: #ffffff !important;
}

a.nav-link.scrolled-nav-btn-style{
    background-color: $colorAccent;
    margin-right: 5vw;
    color: #ffffff;
    border: 2px solid #ffffff;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
}

a.nav-link.scrolled-nav-btn-style:hover{
    background-color: #ffffff;
    color: $colorBase !important;
    border: 2px solid $colorBase;
}

a.nav-link.mobile-nav-btn-style{
    color: $colorAccent;
    font-weight: $bold;
}

a.nav-link.mobile-nav-btn-style:hover{
    color: $colorBase !important;
    font-weight: $bold;
}

a.nav-link.default-imam-nav-item-link{
    margin-left: 2vw;
    color:#ffffff ;
}

a.nav-link.scrolled-imam-nav-item-link{
    margin-left: 2vw;
    color: #ffffff;
}

a.nav-link.mobile-imam-nav-item-link{
    color: $colorAccent;
    font-weight: $bold;
}

a.nav-link.mobile-imam-nav-item-link:hover{
    color: $colorBase;
    font-weight: $bold;
}

.navbar-toggler-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(234, 97, 60, 1)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}
  
.navbar-toggler {
    border-color: $colorBase;
} 