<header>
    <nav class="navbar sticky-top navbar-expand-lg navbar-dark navbar-font-style-IMAM" [ngClass]="{'default-nav-style': applyScrollCssClass('default'), 'scrolled-nav-style': applyScrollCssClass('scroll'), 'mobile-nav-style': applyScrollCssClass('mobile')}">
        <button class="navbar-toggler" 
            type="button"
            data-toggle="collapse"
            data-target="#navbarTogglerIMAMMenu"
            aria-controls="navbarTogglerIMAMMenu" 
            aria-expanded="false"
            aria-label="Toggle navigation"
        >
          <span class="navbar-toggler-icon"></span>
        </button>

      
        <div class="collapse navbar-collapse flex-grow-1" id="navbarTogglerIMAMMenu">
            <ul class="navbar-nav  mr-auto ml-lg-5 mt-2 mt-lg-0">
                <li class="nav-item  ">
                  <a class="nav-link " [routerLink]="['/home']" [ngClass]="{'default-imam-nav-item-link': applyScrollCssClass('default'), 'scrolled-imam-nav-item-link': applyScrollCssClass('scroll'), 'mobile-imam-nav-item-link': applyScrollCssClass('mobile')}"  >Inicio <span class="sr-only"></span></a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link " [routerLink]="['/nosotros']" [ngClass]="{'default-imam-nav-item-link': applyScrollCssClass('default'), 'scrolled-imam-nav-item-link': applyScrollCssClass('scroll'), 'mobile-imam-nav-item-link': applyScrollCssClass('mobile')}" >¿Quiénes somos? <span class="sr-only"></span></a>
                 </li>
                <li class="nav-item ">
                    <a class="nav-link " [routerLink]="['/posgrado']" [ngClass]="{'default-imam-nav-item-link': applyScrollCssClass('default'), 'scrolled-imam-nav-item-link': applyScrollCssClass('scroll'), 'mobile-imam-nav-item-link': applyScrollCssClass('mobile')}" >Posgrados <span class="sr-only"></span></a>
                 </li>
                <li class="nav-item ">
                    <a class="nav-link " [routerLink]="['/licenciatura']" [ngClass]="{'default-imam-nav-item-link': applyScrollCssClass('default'), 'scrolled-imam-nav-item-link': applyScrollCssClass('scroll'), 'mobile-imam-nav-item-link': applyScrollCssClass('mobile')}"  >Licenciatura <span class="sr-only"></span></a>
                </li>
                <li class="nav-item ">
                    <a class="nav-link " [routerLink]="['/diplomados']" [ngClass]="{'default-imam-nav-item-link': applyScrollCssClass('default'), 'scrolled-imam-nav-item-link': applyScrollCssClass('scroll'), 'mobile-imam-nav-item-link': applyScrollCssClass('mobile')}" >Diplomados <span class="sr-only"></span></a>
                </li>
            </ul>
            <ul class="navbar-nav my-2 my-lg-0 mr-lg-5">
                <li class="nav-item ">
                    <a class="nav-link " [routerLink]="['/contacto']" [ngClass]="{'default-nav-btn-style': applyScrollCssClass('default'), 'scrolled-nav-btn-style': applyScrollCssClass('scroll'), 'mobile-nav-btn-style': applyScrollCssClass('mobile')}" >Contacto <span class="sr-only"></span></a>
                 </li>
            </ul>
        </div>
    </nav>
</header>
