<div class="imam-thanks">
    <div class="imam-thanks-content ">
        <p class="imam-title-style-1 pl-lg-5">¡GRACIAS!</p>
        <p class="imam-title-style-2 pl-lg-5">Tu mensaje fué enviado con éxito</p>
        <p class="imam-title-style-3 pl-lg-5">A la brevedad nos pondremos en contacto contigo</p>
        
        <a class="nav-link default-nav-btn-style ml-lg-5" [routerLink]="['/contacto']" href="#">REGRESAR <span class="sr-only"></span></a>
    </div>
</div>
