@import '../../assets/scss/colors';
@import '../../assets/scss/font-sizes';

body html{
    height: 100%;
}

a.nav-link.default-nav-btn-style{
    background-color: $colorAccent;
    color: #ffffff;
    border: 2px solid #ffffff;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: $font-xlg;
}

a.nav-link.default-nav-btn-style:hover{
    background-color: #ffffff;
    color: $colorBase !important;
    border: 2px solid $colorBase;
}

@media only screen and (max-width: 600px) {
    .imam-thanks{
        background-color: $colorAccent;
        
        height: 100vh;
        width: 100%;
    }

    .imam-thanks-content{
        padding-top: 10vh;
    }
    
    .imam-title-style-1{
        font-size: $font-xlg;
        color: $colorBase;
        font-weight: $bold;
        padding: 0;
        line-height: 7vh;
        text-align: center;
    }

    .imam-title-style-2{
        font-size: $font-xlg;
        color: $colorAccentL;
        padding: 0;
        line-height: 7vh;
        text-align: center;
    }

    .imam-title-style-3{
        font-size: $font-lg2;
        color: $colorAccentL;
        padding: 0;
        line-height: 7vh;
        text-align: center;
    }

    a.nav-link{
        margin-left: 26vw;
        width: 50%;
        margin-top: 30vh;
    }

}

@media only screen and (min-width: 992px){
    .imam-thanks{
        background-image: url("../../assets/images/thanks/imam_thanks_img.jpg");
        
        background-repeat: no-repeat; 
        background-size: cover; 
        height: 100vh;
        width: 100vw;
    }

    .imam-thanks-content{
        position: relative;
        top: 50%;
        
    }

    
    .imam-title-style-1{
        font-size: $font-xxxlg;
        color: $colorBase;
        padding: 0;
        line-height: 7vh;
    }

    .imam-title-style-2{
        font-size: $font-xxxlg;
        color: $colorAccentL;
        padding: 0;
        line-height: 7vh;
    }

    .imam-title-style-3{
        font-size: $font-xlg;
        color: $colorAccentL;
        padding: 0;
        line-height: 7vh;
    }
}

@media screen and (device-width: 800px) and (device-height: 1280px) and (orientation:portrait)  and (-webkit-min-device-pixel-ratio: 1.5){  
    .imam-thanks{
        background-color: $colorAccent;
        
        height: 100vh;
        width: 100vw;
    }

    
    .imam-title-style-1{
        font-size: $font-xlg;
        color: $colorBase;
        padding: 0;
        font-weight: $bold;
        line-height: 7vh;
        text-align: center;
    }

    .imam-title-style-2{
        font-size: $font-xlg;
        color: $colorAccentL;
        padding: 0;
        line-height: 7vh;
        text-align: center;
    }

    .imam-title-style-3{
        font-size: $font-lg2;
        color: $colorAccentL;
        padding: 0;
        line-height: 7vh;
        text-align: center;
    }

    .imam-thanks-content{
        padding-top: 30vh;
    }

    a.nav-link{
        margin-left: 26vw;
        width: 50%;
        margin-top: 20vh;
    }
}

 /*  css rules for ipad portrait */

@media only screen and (device-width: 768px) and (device-height: 1024px) and (orientation:portrait) {
    .imam-thanks{
        background-image: url("../../assets/images/thanks/imam_thanks_img.jpg");
        
        background-repeat: no-repeat; 
        background-size: cover; 
        height: 100vh;
        width: 100vw;
    }

    
    .imam-title-style-1{
        font-size: $font-xlg;
        color: $colorBase;
        padding: 0;
        line-height: 7vh;
        text-align: center;
    }

    .imam-title-style-2{
        font-size: $font-xlg;
        color: $colorAccentL;
        padding: 0;
        line-height: 7vh;
        text-align: center;
    }

    .imam-title-style-3{
        font-size: $font-lg2;
        color: $colorAccentL;
        padding: 0;
        line-height: 7vh;
        text-align: center;
    }

    .imam-thanks-content{
        padding-top: 30vh;
    }

    a.nav-link{
        margin-left: 26vw;
        width: 50%;
        margin-top: 20vh;
    }
}


   /*  css rules for landscape devices*/
@media only screen 
and (max-width: 850px)
and (orientation:landscape)
and (-webkit-min-device-pixel-ratio: 2) {
    .imam-thanks{
        background-color: $colorAccent;
        
        height: 100vh;
        width: 100%;
    }

    .imam-thanks-content{
        padding-top: 5vh;
    }

    
    .imam-title-style-1{
        font-size: $font-xlg;
        color: $colorBase;
        font-weight: $bold;
        padding: 0;
        line-height: 15vh;
        text-align: center;
    }

    .imam-title-style-2{
        font-size: $font-xlg;
        color: $colorAccentL;
        padding: 0;
        line-height: 15vh;
        text-align: center;
    }

    .imam-title-style-3{
        font-size: $font-lg2;
        color: $colorAccentL;
        padding: 0;
        line-height: 15vh;
        text-align: center;
    }

    a.nav-link{
        margin-left: 26vw;
        width: 50%;
        margin-top: 10vh;
    }
}

