/* You can add global styles to this file, and also import other style files */
//----------------------------------*\
// Fonts
//----------------------------------*/
@import './assets/scss/fonts';
@import './assets/scss/font-sizes';

// primary font
$primary_font: 'Myriad Pro';

body {
    font-family: $primary_font;
    font-size: $primary-fs;
    font-weight: $regular;
}