<footer class="container-fluid p-lg-5 footerContainer imam-footer-container">
    <div class="pl-lg-5 pr-lg-5">
      <div class="row">
        <div class="col-md-7 col-sm-12 pt-4 text-center" >
          <div class="text-md-left">
            <a href="https://www.facebook.com/IMAMactuaria" target="_blank">
              <img src="../../../assets/images/footer/imam_icon_fb.png" class=" img-fluid "  width="55" alt="Acturay Hunters Facebook">
            </a>
            <a class="ml-3" href="https://www.instagram.com/soy_imam/?igshid=1lkqeavockbwx&hl=es-la" target="_blank">
              <img  src="../../../assets/images/footer/imam_icon_ig.png" class=" img-fluid" width="55"  alt="Actuary Hunters Instagram">
            </a>
            <a class="ml-3" href="https://www.linkedin.com/company/imam-instituto-matem%C3%A1tico-y-actuarial-mexicano/mycompany/?viewAsMember=false" target="_blank">
              <img  src="../../../assets/images/footer/imam_icon_in.png" class=" img-fluid " width="55"  alt="Actuary Hunters Linkedin">
            </a>
            <a class="ml-3" href="https://api.whatsapp.com/send?phone=+525583724190&text=Hola, me gustaría saber más información sobre los servicios del IMAM" target="_blank">
              <img  src="../../../assets/images/footer/imam_icon_whtsp.png" class=" img-fluid " width="55" alt="Actuary Hunters Management Whatsapp">
            </a>
          </div>
        </div>
        <div class="col-md-5 col-sm-12 pt-4 text-center" >
          <div class="text-md-right">
            <a href="https://actuarypensiones.com" target="_blank">
              <img src="../../../assets/images/footer/ah_img_logo_pensiones.svg" width="200"  alt="...">
            </a>
            <a href="https://actuaryhunters.com/" target="_blank">
              <img src="../../../assets/images/footer/imam_logo_AH.png" width="200"  alt="...">
            </a>
          </div>
        </div>
      </div>
      <div class="row">
        <div class=" col-auto col-lg-auto pt-4 pr-1" >
          <img src="../../../assets/images/footer/ah_icon_email.svg" width="30" class=" img-fluid" alt="Actuary Hunters mail">
        </div>
        <div class=" col-9 col-lg-11 pt-4 pl-1" >
          <a href="mailto:contacto@imam.com.mx?subject=Información acerca de los servicios del IMAM">
            <p class=" footerElementsFontStyle">contacto@imam.com.mx</p>
          </a>
        </div>
      </div>
      <div class="row">
        <div class="col-6">
          <div class="row">
              <div class="col-sm-auto ml-3">
                <div class="row">
                  <div class="col-xs-1" align="center">
                    <img src="../../../assets/images/footer/ah_icon_phone.svg" class=" img-fluid" width="30"  alt="...">
                  </div>
                  <div class="col-xs-11 ml-2">
                    <a href="tel:+525552642911">
                      <p class=" footerElementsFontStyle">55 52 64 29 11</p>
                    </a>
                  </div>
                </div>
              </div>
              <div class="col-sm-auto ml-3">
                <div class="row">
                  <div class="col-xs-1" align="center">
                    <img src="../../../assets/images/footer/ah_icon_whtsp_number.svg" class=" img-fluid " width="30"  alt="...">
                  </div>
                  <div class="col-xs-11 ml-2">
                    <p class=" footerElementsFontStyle">55 83 72 41 90</p>
                  </div>
                </div>
              </div>
          </div>
        </div>
        <div class="col-6" align="right">
          <div class="row justify-content-end">
    
            <div class="col-sm-auto">
              <div class="col-xs-auto">
                <a href="../../../assets/files/Reglamento_escolar_IMAM.pdf" target="_blank" rel="noopener">
                  <p class=" footerElementsFontStyle">Reglamento</p>
                </a>
              </div>
            </div>
    
            <div class="col-sm-auto">
              <div class="col-xs-auto">
                <a href="../../../assets/files/Politica_de_Privacidad_IMAM.pdf" target="_blank" rel="noopener">
                  <p class=" footerElementsFontStyle">Avisos de privacidad</p>
                </a>
              </div>
            </div>
    
          </div>
          
        </div>
      </div>
      <hr class="footerDivider">
      <div class="row">
        <div class="col-md">
          <p class="imam-text-style">Certificación RVOE SEP.20192948/2019-07-19</p>
        </div>
        <div class="col-md" align="right">
          <p class="imam-text-style">© 2021. Actuary Hunters, todos los derechos reservados.</p>
        </div>
      </div>
    </div>
</footer>
