@import '../../../assets/scss/colors';
@import '../../../assets/scss/font-sizes';

.footerContainer{
    background-color: #ffff;
}

.footerDivider{
    border-top: 3px solid $colorBase;
}

.padding-0{
    padding-right:0;
    padding-left:0;
}

.ah-modal-title{
    font-weight: $bold;
}

.ah-title-modal{
    color: $colorBase;
    font-weight: $bold;
}

.ah-content-modal{
    text-align: justify;
}

.imam-text-style{
    color: $colorBase;
}

@media only screen and (min-width: 992px) {
    .footerElementsFontStyle{
        font-size: $font-lg;
        color: $colorAccent;
        font-weight: $bold;
    }

    .ah-icon-link{
        width: 8%;
    }
    
    
    .ah-icon{
        width: 60%;
    }
    
}

@media only screen and (max-width: 600px) {
    .footerElementsFontStyle{
        font-size: $primary-fs;
        color: $colorAccent;
        font-weight: $bold;
    }
    

    .ah-icon-link{
        width: 8%;
    }
    
    
    .ah-icon{
        width: 60%;
    }

}

@media screen and (device-width: 800px) and (device-height: 1280px) and (orientation:portrait)  and (-webkit-min-device-pixel-ratio: 1.5){  


    .footerElementsFontStyle{
        font-size: $primary-fs;
        color: $colorAccent;
        font-weight: $bold;
    }
    

    .ah-icon-link{
        width: 8%;
    }
    
    
    .ah-icon{
        width: 60%;
    }
}

 /*  css rules for ipad portrait */

 @media only screen and (device-width: 768px) and (device-height: 1024px) and (orientation:portrait) {
    .footerElementsFontStyle{
        font-size: $primary-fs;
        color: $colorAccent;
        font-weight: $bold;
    }
    

    .ah-icon-link{
        width: 8%;
    }
    
    
    .ah-icon{
        width: 60%;
    }
}


   /*  css rules for landscape devices*/
@media only screen 
and (max-width: 850px)
and (orientation:landscape)
and (-webkit-min-device-pixel-ratio: 2) {
    .footerElementsFontStyle{
        font-size: $primary-fs;
        color: $colorAccent;
        font-weight: $bold;
    }
    

    
}

@media only screen 
and (min-width: 800px)
and (max-width: 1024px)
and (orientation:landscape)
and (-webkit-min-device-pixel-ratio: 2) {
    

    .footerElementsFontStyle{
        font-size: $primary-fs;
        color: $colorAccent;
        font-weight: $bold;
    }
    
}

